
        * {
            margin: 0px;
            padding: 0px;
            font-family: axiforma-regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;

        }

        #nav {
            background-color: black;
            height: 60px;
            display: flex;
            justify-content: space-around;
            position: sticky;
            top: 0.1px;
        }

        #img>a>img {
            height: 40px;
            margin: 10px 0px 0px -226px;
        }

        #blog {
            display: flex;
            justify-content: space-between;
            /* border: 1px solid white; */
            width: 377px;
            margin-right: -200px;
        }

        #blog>a>p {
            color: white;
            font-size: 15px;
            line-height: 20px;
            height: 100%;
            font-weight: 700;
            margin-top: 19px;
        }

        #fst {
            display: flex;
        }

        #fst>div {
            /* border: 1px solid red; */
            height: 548px;
            width: 238px;
        }

        #fst>div>img {
            height: 100%;
        }

        #fst>div:nth-child(2) {
            /* border: 1px solid rgb(21, 255, 0); */
            height: 548px;
            width: 1228px;
            background-color: black;
            color: white;
            background: linear-gradient(90deg, transparent, #000 40%);

        }

        #fst>div:nth-child(2)>P {
            margin: 60px 0px 0px 500px;
            letter-spacing: 10px;
            font-size: 18px;
            color: rgb(219, 215, 215);

        }

        #fst>div:nth-child(2)>h3 {
            margin: 20px 0px 0px 500px;
            font-size: 34px;
            color: white;
        }

        #fst>div:nth-child(2)>h3+p {
            letter-spacing: 0px;
            margin-top: 14px;
            font-size: 20px;
        }

        #select {
            /* border: 1px solid red; */
            border-radius: 4px;
            height: 135px;
            width: 330px;
            margin: 36px 0px 0px 498px;
            background-color: white;
            color: black;
        }

        #select>p {
            font-size: 18px;
            font-weight: 700;
            padding: 20px 0px 10px 10px;
        }

        #filter {
            margin: 10px 0px 10px 10px;
            height: 40px;
            width: 300px;
            font-size: 15px;
            padding-bottom: 2px;
            padding-left: 10px;
        }

        #sec {
            height: 545px;
            display: flex;
        }

        #line {
            height: 15px;
            background-color: rgb(206, 211, 211);
        }

        #sec>div:nth-child(1) {
            /* border: 1px solid red; */
            width: 530px;
            height: 380px;
            margin: 75px 0px 0px 108px;
        }

        #sec>div:nth-child(2) {
            /* border: 1px solid red; */
            width: 525px;
            height: 323px;
            margin: 75px 0px 0px 75px;
            border-radius: 8px;
            background-color: #f2f7fd;
        }

        #sec>div>h3 {
            font-size: 32px;
            font-weight: 600;
            line-height: 1.5;
            /* color: rgb(163, 34, 34); */
            margin-bottom: 36px;
        }

        #sec>div>div {
            /* border: 1px solid red; */
            height: 75px;
            display: flex;
            margin-bottom: 33px;
        }

        #sec>div>div>img {
            height: 100%;
            margin-right: 25px;
        }

        .big {
            font-size: 19px;
            font-weight: 700;
            line-height: 1.5;
            margin-top: 8px;
        }

        .small {
            color: rgb(110, 110, 110)
        }

        #asure>img {
            width: 102px;
            margin: 50px 0px 0px 50px;
        }

        #asure>h1 {
            margin: 15px 0px 0px 50px;
            font-size: 35px;
        }

        #asure>p {
            margin: 17px 0px 0px 54px;
            font-size: 19px;
        }

        #book {
            height: 550px;
            /* border: 1px solid red; */
            display: flex;
        }

        #book>div {
            height: 450px;
            margin-top: 100px;
            /* border: 1px solid rgb(0, 0, 0); */
            width: 37.5%;
            margin-left: 100px;
        }

        #book>div>h2 {
            font-weight: 700;
            font-size: 32px;
            margin-top: 8px;
        }

        #book>div>p {
            font-size: 20px;
            margin-top: 8px;
            color: rgb(65, 64, 63);
        }

        #spns {
            border: 1px solid;
            height: 54px;
            margin-top: 50px;
            margin-left: 2px;
            border-radius: 4px;
            display: flex;
        }

        #spns>span>img {
            height: 18px;
            margin: 18px 0px 0px 15px;
        }

        #spns>span:nth-child(2) {
            font-weight: bold;
            margin: 16px 0px 0px 6px;
        }

        #ip {
            height: 42px;
            width: 300px;
            margin: 6px 0px 0px 10px;
            border-left: 1px solid rgb(219, 216, 216);
            border-bottom: none;
            border-right: none;
            border-top: none;
            font-size: 22px;
        }

        #but {
            width: 90px;
            height: 44px;
            margin: 5px 0px 0px 18px;
            background-color: rgb(37, 36, 36);
            color: white;
            font-weight: bold;
            border-radius: 4px;
            padding-bottom: 3px;
        }

        #imges {
            display: flex;
        }

        #imges>img {
            width: 138px;
            margin: 35px 16px 0px 0px;
        }

        #two {
            display: flex;
        }

        #two>img {
            height: 480px;
            margin: -30px 60px 0px 0px;
        }

        #footbar {
            height: 800px;
            background-color: #000;
            color: rgb(196, 192, 192)
        }

        #footbar span {
            cursor: pointer;
        }

        #footbar span:hover {
            color: white
        }

        #fb1 {
            height: 105px;
            width: 89%;
            margin: auto;
            border-bottom: 1px solid rgb(80, 79, 79);
        }

        #fb1 span {
            margin: 25px 30px -13px 0px;

        }

        #fb1>div {
            display: flex;
        }

        #fb2 {
            height: 565px;
            width: 89%;
            margin: auto;
            border-bottom: 1px solid rgb(80, 79, 79);
        }

        #fb2>h4 {
            margin: 22px 0px;
        }

        #fb2>div {
            margin-top: 22px;
        }

        #fb2>h5 {
            margin-top: 25px;
        }

        #fb2>div>span {
            margin-right: 30px;
        }

        #ln {
            margin-top: 20px;
        }

        #ln>span {
            margin-right: 30px;
            flex-wrap: wrap;
        }

        #fs {
            margin-top: 20px;
        }

        #fs>span {
            margin-right: 30px;
        }

        #fb3 {
            width: 89%;
            margin: auto;
            display: flex;

        }

        #fb3>div>a>img {
            height: 60px;
            margin-top: 16px;
        }

        #fb3>div:nth-child(2) {
            margin: 34px 0px 0px 20px;
        }

        #fb3>div:nth-child(3)>img {
            height: 50px;
            margin-top: 20px;
            margin-left: 260px;
        }

        #fb3>div:nth-child(4)>img {
            height: 50px;
            margin-top: 20px;
            margin-left: 60px;
        }



        